<table>
    <tr>
        <td>Ac Power Consumption</td>
        <td>{{powercCalculatorSummary.AcPowerConsumption}} kW/module</td>
    </tr>
    <tr>
        <td>Total AC Power Consumption</td>
        <td>{{powercCalculatorSummary.TotalACPowerConsumptionPerDay}} kWh/day (24/7 operation)</td>
    </tr>
    <tr>
        <td>DC Power Consumption</td>
        <td>
            {{powercCalculatorSummary.DCPowerConsumption1}} kWh/kgal
        </td>
    </tr>
    <tr>
        <td>DC Power Consumption</td>
        <td>
            {{powercCalculatorSummary.DCPowerConsumption2}} kWh/m3
        </td>
    </tr>
    <tr>
        <td> Voltage</td>
        <td>{{powercCalculatorSummary.estimatedvoltage}} V </td>
    </tr>
    <tr>
        <td> Start-up Current</td>
        <td>{{powercCalculatorSummary.estimatedstartupcurrent}} A</td>
    </tr>
    <tr>
        <td> *Assumes 93% efficiency of AC to DC power controller</td>
    </tr>
</table>